{% extends 'mainpage/data.html' %}
{% load static %}

{% block head %}
<style>
body {

    max-width: 1170px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 16px;
    padding-right: 16px;
}

   p1 {

    color: #FFFFFF; /* Цвет текста */
    margin: 0; /* Нулевые отступы вокруг текста */
    padding: 10px; /* Поля вокруг текста */
   }
   h1 {

    color: #FFFFFF; /* Цвет текста */
    margin: 0; /* Нулевые отступы вокруг текста */
    padding: 10px; /* Поля вокруг текста */
   }
  </style>
{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/page1.css' %}">
{% endblock %}

{{% block title %}
My educations
{% endblock %}


{% block content %}
<h1>fg</h1>
<h1>Немного обо мне</h1>
<p1>Меня зовут Мозалёв Артём. Мне 24 года. Я окончил университет П.О. Сухого в 2020 году по специальности инженер-энергетик, сейчас я работаю по этой специальности, но в недавнее время я очень заинтерисовался программированием и начал с изучения языка Python и его фреймворков, которые я попытаюсь показать на этом сайте. Я успешно прошел курсы в академии Шаг и продолжаю развивать и совершенствовать свои навыки. На сайте представлены работы с такими библиотеками как: Selenium, Pygame, Pytelebot, Django. Я постарался вникнуть и разобраться с каждой из библиотек и думаю что получилось не плохо  </p1>

{% endblock %}
