{% extends 'mainpage/data.html' %}
{% load static %}

{% block css %}

 <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}


{% block head %}
<style>
   body {
    margin: 30; /* Убираем отступы */
   }
   h1 {

    color: #FFFFFF; /* Цвет текста */
    margin: 0; /* Нулевые отступы вокруг текста */
    padding: 10px; /* Поля вокруг текста */
   }
  </style>
{% endblock %}


{{% block title %}
Reviews
{% endblock %}


{% block content %}

<h1>Reviews</h1>
<h1>Reviews</h1>



{%if revlist %}
    {% for el in revlist %}
      <div class = "alert alert-warning mt-2">
          <h3>{{ el.ball }}</h3>
          <p1>{{ el.write}}</p1>
      </div>
    {% endfor %}
{% else %}
 <p2>No comments</p2>
{%endif%}
{% endblock %}